@model IEnumerable<Role>

@{
	ViewData["Title"] = "HighestPaidActor";
}

<h1>Highest Paid Actor</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Movie)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Actor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Credit)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pay)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (Role item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Movie.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Actor.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Credit)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Pay)
				</td>
			</tr>
		}
	</tbody>
</table>
